<footer>
    <nav class="mainfooter">
        <ul>
            <li>
                <a href="/veronica">
                    <img src="/assets/Home.svg" alt="radio veronica">veronica
                </a>
            </li>
            <li>
                <a href="/slam">
                    <img src="/assets/Home.svg" alt="radio slam">slam
                </a>
            </li>
            <li>
                <a href="/100%nl">
                    <img src="/assets/Home.svg" alt="radio 100%nl">100%nl
                </a>
            </li>
            <li>
                <a href="/livechat">
                    <img src="/assets/Home.svg" alt="livechat">livechat!
                </a>
            </li>
        </ul>
    </nav>

    <nav class="bigscreenfooter">
        <img src="/assets/veronica-logo.svg" alt="logo radio veronica">
        <div class="media">
            <h2>we love music</h2>
            <p>volg ons op social media</p>
            <a href="#"><img src="/public/assets/facebook.svg" alt="facebook"></a>
            <a href="#"><img src="/public/assets/twitter.svg" alt="twitter of x"></a>
            <a href="#"><img src="/public/assets/youtube.svg" alt="youtube"></a>
            <a href="#"><img src="/public/assets/instagram.svg" alt="instagram"></a>
        </div>
    </nav>
</footer>
</body>
</html>