<footer>
    <nav class="mainfooter">
        <ul>
            <li>
                <a href="/radio-veronica">
                    <img src="/assets/Home.svg" alt="radio veronica">veronica
                </a>
            </li>
            <li>
                <a href="/slam">
                    <img src="/assets/Home.svg" alt="radio slam">slam
                </a>
            </li>
            <li>
                <a href="/100nl">
                    <img src="/assets/Home.svg" alt="radio 100%nl">100%nl
                </a>
            </li>
            <li>
                <a href="/livechat">
                    <img src="/assets/Home.svg" alt="livechat">livechat!
                </a>
            </li>
        </ul>
    </nav>

    <nav class="bigscreenfooter">
        <section class="footercontent">
            <img src="/assets/veronica-logo.svg" alt="logo radio veronica">
            <h2>we. love. music</h2>
            <p>volg ons op social media</p>
            <div class="footermedia">
                <a href="#"><img src="/assets/facebook.svg" alt="facebook"></a>
                <a href="#"><img src="/assets/twitter.svg" alt="twitter of x"></a>
                <a href="#"><img src="/assets/youtube.svg" alt="youtube"></a>
                <a href="#"><img src="/assets/instagram.svg" alt="instagram"></a>
            </div>
        </section>
        <section class="footerlinks">
            <nav>
                <ul>
                    <li><a href="#">Radio Veronica</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Programmering</a></li>
                    <li><a href="#">Ontdek</a></li>
                    <li><a href="#">Acties</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="#">Algemeen</a></li>
                    <li><a href="#">Frequenties</a></li>
                    <li><a href="#">Alle Programmas</a></li>
                    <li><a href="#">DJ Overzicht</a></li>
                    <li><a href="#">Pers</a></li>
                </ul>
            </nav>
        </section>
    </nav>
</footer>
</body>
</html>