<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luister naar jouw favoriete radiostation bij Mediahuis.">
    <title>
      Mediahuis{% if radiostation %}
        | {{ radiostation }}{% endif %}
    </title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/radio-template.css">
    <script src="/JavaScript/main.js" type="module"></script>
  </head>
