<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Luister naar jouw favoriete radiostation bij Mediahuis.">
    <title>
      Mediahuis{% if radiostation %}
        | {{ radiostation }}{% endif %}
    </title>
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicon.webp">
    <script src="/JavaScript/main.js" type="module"></script>
    <link rel="stylesheet" href="/CSS/header.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="/CSS/stylesheet.css">
    <link rel="stylesheet" href="/CSS/likes.css">
    <link rel="stylesheet" href="/CSS/global.css">
    <link rel="stylesheet" href="/CSS/dj.css">
    <link rel="stylesheet" href="/CSS/index.css">
    <link rel="stylesheet" href="/CSS/live-chat.css">
    <link rel="stylesheet" href="/CSS/playlist.css">
    <link rel="stylesheet" href="/CSS/radio-template.css">
    <link rel="stylesheet" href="/CSS/animated-link-kyan.css">
</head>
<body>
 
