<header class="veronica-header">
    <section class="upper-header">
        <img src="/assets/veronica-logo.svg" alt="veronica logo">
        <input class="switch" type="checkbox">
        <label for="switch"></label>
    </section>

    <section class="footer-becomes-header">
    <nav>
        <ul>
            <li>
                <a href="/radio-veronica">Veronica</a>
            </li>
            <li>
                <a href="/slam">Slam</a>
            </li>
            <li>
                <a href="/100nl">100%nl</a>
            </li>
            <li>
                <a href="/livechat">livechat!</a>
            </li>
            <li>
                <input class="switch" type="checkbox">
                <label for="switch"></label>
            </li>
        </ul>
    </nav>
</section>
</header>

<section class="hoofd-nav">
    <nav>
        <ul>
            <li><a href="/radio-veronica">progammering</a></li>
            <li><a href="/veronica/dj">DJ's</a></li>
            <li><a href="/veronica/playlist">playlist</a></li>
            <li><a href="/veronica/frequenties">frequenties</a></li>
            <li><a href="/veronica/likes">likes</a></li>
        </ul>
    </nav>
</section>

