

<section class="content">
    <picture>
        <img src="" alt="veronica" height="" width="">
    </picture>
    <h2>sorry deze pagina is niet gevonden, keer terug naar home of naar het gewenste radio station.</h2>
    <a href="/veronica">Home</a>
</section>