{% render 'partials/head.liquid' %}

<header class="footer-becomes-header404">
    <nav>
        <ul>
            <li>
                <a href="/veronica">Veronica</a>
            </li>
            <li>
                <a href="/slam">Slam</a>
            </li>
            <li>
                <a href="/100%nl">100%nl</a>
            </li>
            <li>
                <a href="/livechat">livechat!</a>
            </li>
        </ul>
    </nav>
</header>

<section class="content404">
    <picture>
        <img src="/assets/veronica-logo.svg" alt="veronica" height="60" width="175">
    </picture>
    <picture class="blue404logo">
        <img class="blue404logo" src="/assets/veronica-logo-blue.svg" alt="veronica blue" height="80" width="232">
    </picture>
    <h2>sorry deze pagina is niet gevonden, keer terug naar home of naar het gewenste radio station.</h2>
    <a href="/veronica">Home</a>
</section>

<footer class="footer404">
    <nav class="mainfooter404">
        <ul>
            <li>
                <a href="/veronica">
                    <img src="/assets/Home.svg" alt="radio veronica">veronica
                </a>
            </li>
            <li>
                <a href="/slam">
                    <img src="/assets/Home.svg" alt="radio slam">slam
                </a>
            </li>
            <li>
                <a href="/100%nl">
                    <img src="/assets/Home.svg" alt="radio 100%nl">100%nl
                </a>
            </li>
            <li>
                <a href="/livechat">
                    <img src="/assets/Home.svg" alt="livechat">livechat!
                </a>
            </li>
        </ul>
    </nav>
