.hoofd-nav a {
    position: relative;
    display: block;
    color: #0091ff;
}

.hoofd-nav a::after {
    content: '';
    position: absolute;
    background: #fe0170;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    transition: width 0.3s ease;
}

.hoofd-nav a:hover::after {
    width: 100%;
}

.hoofd-nav a:hover {
    color: #fe0170;
}