footer {

    .mainfooter {

    background-color: var(--veronica-color-white);
    position: sticky;
    bottom: 0;
    
        ul {
            display: flex;
            justify-content: center;
            flex-direction: row;
            list-style: none;
            gap: 5%;
            padding-block: 16px;


            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                width: 22vw;
                font-family: var(--font-bold);
                font-size: var(--font-size-p-main);
                color: var(--veronica-color-secondary);

                img {
                    color: var(--veronica-color-secondary);
                    width: 24px;
                }
            }
        }
    }
}

.bigscreenfooter {
    display: none;
}

    .media, .radiostations {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .bigscreenfooter > img {
        width: 69px;
    }

    .media > h2, .media > p {
        color: var(--veronica-color-white);
    }

    .radiostations > a, .media > a {
        color: var(--veronica-color-white);
        text-decoration: none;
    }