:root {
  /* Color scheme */
  color-scheme: light dark;
}

@view-transition {
  navigation: auto;
}

/* .programma-sec { view-transition-name: radio-schedule }


::view-transition-old(gaaf) {
    animation: slide 0.2s linear forwards;
}

::view-transition-new(gaaf) {
    animation: slide 0.2s linear reverse;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translate(50%);
        opacity: 0;
    }
} */


* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: light-dark(var(--bg-light), var(--bg-dark));
  color: light-dark(var(--text-light), var(--text-dark));
}

.hoofd-nav a {
  position: relative;
  display: block;
  color: #0091ff;
}

.hoofd-nav a::after {
  content: '';
  position: absolute;
  background: #0091ff;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width 0.3s ease, color 0.3s ease;
}

.hoofd-nav a:hover::after {
  width: 100%;
  background: #fe0170;
}

.hoofd-nav a:hover {
  color: #fe0170;
  transition: color 0.3s ease;
}