:root {
  /* Color scheme */
  color-scheme: light dark;
}

@view-transition {
  navigation: auto;
}

* {
  font-family: var(--main-font);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: light-dark(var(--bg-light), var(--bg-dark));
  color: light-dark(var(--text-light), var(--text-dark));
}
